  @media screen and (min-width: 768px) {
.title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.section{
    padding-top: 70px;
    padding-bottom: 50px;
}

.description{
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
  }

 @media screen and (min-width: 1024px){
.title{
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
}

.section{
    padding-top: 70px;
    padding-bottom: 50px;
}

.description{
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

 }