.portfolioSection{
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: #EAF0EE;
    height: 100%; */
}

.sectionTitle{
    font-size:20px;
text-transform: uppercase;
color: #442A24;
margin-bottom: 20px;
}

.link::before{
    content: '';
    height: 2px;
     width: 300px;
    background-color: #442A24;
    
}
.icon{
     width: 40px;
    fill: #442A24;
    
}

.link{
    margin-top: 50px;
   display: flex;
  background-color: transparent;
   justify-content: flex-start;
   border: none;
   align-items: center;
}


@media screen and (min-width: 480px) {
.icon{
     width: 60px;
    fill: #442A24;
  
}
.link::before{
    content: '';
    height: 2px;
    width: 400px;
    background-color: #442A24;   
}
  }

  @media screen and (min-width: 768px) {
.icon{
     width: 80px;
    fill: #442A24;
    
}
.link::before{
    content: '';
    height: 2px;
    width: 700px;
    background-color: #442A24;   
}
  }

  @media screen and (min-width: 1024px){
.icon{
     width: 90px;
    fill: #442A24;
    
}
.link::before{
    content: '';
    height: 2px;
    width: 800px;
    background-color: #442A24;   
}
}