.navList{
    display: flex;
}
.navLink{
    font-size: 20px;
    font-weight: 500;
    color: #442A24;
    text-transform: uppercase;
}

.navItem:not(:last-child){
    margin-right: 60px;
}

.navItem{
    cursor: pointer;
}