.sectionAbout{
    background-color: #F1EBE5;
}

.wrapper{
    position: relative;
    display: flex;
    align-items: center;
}
.imgWrapper{
   
    width: 810px;
    height:648px;
}
.img    {
 width: 648px;
 height:648px;
}
.linkWrapper{

    position: absolute;
    top: 0;
    right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 200%;
    border: 1px solid #442A24;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 10px;
    width: 72px;
    height: 27px;
}
.aboutLink{
        margin: 0 auto;
    color: #442A24;
   font-size: 11px;
   font-weight: 500;
    text-transform: uppercase;
   
}

.icon{
width: 25px;
}
