html {
  height: 100%;
}



/* .App {
} */

h1,
h2,
h3,
h4,
h5,
h6,
p 
img
{
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  cursor: pointer;
 
}
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f6fb;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#ff751d, #fff01d);
  border-radius: 25px;
}

.active{
    color:aquamarine
}