
.contactsSocialIcon{
    width: 20px;
    height: 20px;
    fill: #442A24;
    cursor: pointer;
}

.contactsLinks{
    display: flex;
    align-items: center;
}

.contactsTitle{
font-size: 15px;
margin-left: 20px;
text-transform:uppercase;
color:#442A24
}

.contactsList:not(:last-child){
margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
.contactsSocialIcon{
    width: 30px;
    height: 30px;
    fill: #442A24;
    cursor: pointer;
}

.contactsLinks{
    display: flex;
    align-items: center;
}

.contactsTitle{
font-size: 20px;
margin-left: 20px;
text-transform:uppercase;
color:#442A24
}

.contactsList:not(:last-child){
margin-bottom: 50px;
}
}