.sectionAbout{
    position: relative;
    background-color: #F1EBE5;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 50px;

}
.aboutLink{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    top: 70px;
    right: 25px;
    border: 1px solid #F1EBE5;
    border-radius: 50%;
    padding: 20px 30px; 
    z-index: 1200;
    color: #F1EBE5;
    
    width: 45px; 
    margin-bottom: 50px;  
    margin-right: 50px;

}
.linkText{
    font-size: 12px;
    
}
.icon{
    width: 47px;
    fill: #F1EBE5;
    
}
.img{
    width: 100%;
   
}
.imgWrapper{
    width: 100%;  
}
.sectionTitle{
    max-width: 294px;
     font-family: "Libre Baskerville";
    font-size: 76px;
    color: #442A24;
    margin-top: 30px;
}

.description{
    font-family: "Libre Baskerville";
    font-size: 18px;
    font-style: italic;
    color: #442A24; 
     margin-top: 30px;
}


.socialIcon{
    width: 30px;
    height: 30px;
    fill: #442A24;
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.socialItem:not(:last-child){
   margin-right: 15px; 
}

.socialLinks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
     margin-top: 60px;
}
.socialLinks::after{

    content: '';
    height: 2px;
    width: 900px;
    background-color: #442A24;
   margin-left: 15px;
   
 
}

@media screen and (min-width: 768px){
    .sectionAbout{
    position: relative;
    background-color: #F1EBE5;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 50px;

}


.aboutLink{
      position: absolute;
    top: 30px;
    right: 25px;
    border: 1px solid #F1EBE5;
    border-radius: 50%;
    padding: 30px 35px; 
    z-index: 1200;
    color: #F1EBE5;
    
    width: 72px; 
    margin-bottom: 10px;  
    margin-right: 10px;

}

.icon{
    width: 37px;
    fill: #F1EBE5;
    
}
.img{
    width: 810px;
    min-height: 648px;
}
.imgWrapper{
    width: 810px;
    min-height: 648px;
    position: absolute;
    top: 0;
    right: 0;
}
.sectionTitle{
    /* max-width: 494px; */
    
    font-family: "Libre Baskerville";
    font-size: 36px;
    position: relative;
    z-index: 1000;
    color: #442A24;
    margin-bottom: 25px;
}

.description{
    font-family: "Libre Baskerville";
    font-size: 18px;
    font-style: italic;
    color: #442A24;
        margin-top: 0;

     /* margin-bottom: 480px; */
}


.socialIcon{
    width: 30px;
    height: 30px;
    fill: #442A24;
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: column;
   
    padding-top: 250px;
}

.socialItem:not(:last-child){
   margin-right: 15px; 
}

.socialLinks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.socialLinks::after{

    content: '';
    height: 2px;
    width: 300px;
    background-color: #442A24;
   margin-left: 15px;
   
 
}
}

.sectionInfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}
.photograferName{
    display: inline;
}